/*SELECTORES UNIVERSALES
Con el asterisco se seleccionan todas las etiquetas que tengo en mi pagina web
*/

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
}

/*Selector de etiqueta: Con este selector puedo especificar los estilos para etiquetas especificas*/
a {
 text-decoration: none; 
 color: red;
 font-size: 1rem;
}

footer span {
color: blue;
font-weight: bold;
}

/*Selector con ID*/
#mainContainer { 
    width: 50%;
    border: 2px solid black;
    color: rgb(18, 156, 80);
    padding: 10px;
    text-align: justify;
}

/*Estilos compartidos a varias etiquetas*/
#parrafo1,
#parrafo2 {
    color: brown;
    font-family: 'Times New Roman', Times, serif;
}

/* Selectores con clases */
.bloqueNota{
    color:white;
    background: rgb(107, 107, 207);
}

/* Selectores de atributo */

#userRegister form {
    border: 1px dashed blue;
    width: 40%;
    height: 200px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 20px;
}
/* Este le aplica los estilos a las etiquetas dentro del formulario */
#userRegister form * {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    margin: 5px auto;
    padding: 10px;
    width: 70%;
    border-radius: 20px;
    outline: none;
}

input[type="submit"] {
    width: 30%;
    margin: 0 auto;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
}


/* 
Selectores hijo 
La estructura es, dentro de mi lista tengo una etiquta li y dentro de mi li 
tengo una etiqueta a y a ese se le aplican los estilos, a todas las etiquetas 'a'
*/
#lista > li > a {
    color: orange;
}


/* Prioridad en css  */
#examplePriority h1 {
    color: orchid;
}

/* Con el important aplicamos estilo de forma prioritaria para un elemento */
h1 {
    color: blue !important;
}