* {
    margin: 0px;
    padding: 0px;
}

/* Uso de la propiedad float para cajas */
.caja {
    display: block;
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 2px solid black;
    margin: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    float: left;
}

/* Contenedor de mis cajas, le definimos un max-width para definir el ancho maximo que tendra */
#containerCajas {
    max-width: 830px;
    border: 1px solid black;
}

/* Limpiamos elementos flotantes que hay a la izquierda y derecha con la propiedad both */
#subtitulo {
    float: none;
    clear: both; /* Limpia los elementos flotantes de ambos lados, izquierda y derecha */
}
