/* Aplicamos un tipo de fuente con font-family 
* utilizamos font-style para letras en normal | italic
* utilizamos font-weight para poner letras en bold | lighter | unidades
*/

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-style: italic; 
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: lighter;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

/* Uso de fuentes de google font a traves del link */
#fontCustomer {
    font-family: 'ZCOOL KuaiLe', cursive;
}

/* Uso de font-face para utilizar una fuente descargada 
de google chrome */

@font-face {
    font-family: customFont;
    src: url(/fuentes_colores/fonts/Ma_Shan_Zheng/MaShanZheng-Regular.ttf);
}

#fontCustomFace {
    font-family: customFont,Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
}

/* ================== USO DE COLORES EN CSS ===================*/


/* colores del sistema */
ul li:nth-child(1) {
    color:blue;
}

/* colores HEXADECIMAL */
ul li:nth-child(2) {
    color: #000;;
}

/* colores RGB */
ul li:nth-child(3) {
    color: rgb(120, 188, 100);
}

/* colores RGBA donde A es la transparencia*/

ul li:nth-child(4) {
    color: rgba(140, 80, 200,0.7);
}