/* 
1. Crear un Documento HTML y vincularlo con un CSS 
2. Crear una estructura HTML que cuente con un CONTENEDOR GENERAL, CABECERA, MENU, BARRA LATERAL, SECCION DE CONTENIDO PRINCIPAL, ELEMENTOS DENTRO DEL CONTENEDOR PRINCIPAL Y FOOTER.
3. Todo el contenido debe estar dentro del contenedor general y su ancho será de 1200px y estar centrado.
4. Header debe acupar el 100% de ancho y tener un texto grande centrado.
5. Menu debe tener los elementos uno al lado del otro.
6. El contenido principal debe tener un ancho del 70%.
7. El contenido dentro del contenedor principal debe ser una cuadricula con 4 lineas de 2 cajas.
8. La barra lateral debe tener un ancho del 30%.
9. El footer debe tener un ancho del 100% del div que lo contiene y estar abajo del todo.
*/


:root {
    --color-general-blue:blue;
    --padding-general-page: 15px;
}

/* Hacemos el reset de todos mis elementos */
* {
margin: 0px;
padding: 0px;
}
/* Contenedor principal */
#containerMain {
    max-width: 1200px;
    margin: 20px auto;
    border: 1px solid black;
}

/* Header principal de mi contenedor */
#headerMain {
    padding: var(--padding-general-page) 0px;
    background-color: rgba(33, 168, 33, 0.363);
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-general-blue);
}

/* Contenedor de menu principal */
#menuMain {
    background-color: #eeeeeeee ;
}

/* Elementos de mi menu principal */
#menuMain ul li {
    display: inline-block;
    padding: var(--padding-general-page);
    margin: 0px auto;
}

#menuMain ul li:hover {
    cursor: pointer;
    background-color: rgba(33, 168, 33, 0.363);
}

#menuMain ul li a {
    display: block;
    text-decoration: none;
}


/* Estilos para la barra lateral */
#sideBar {
    float: left;
    text-align: center;
    height: 950px; 
    width: 20%;
}

/* Estilos para el contenido principal */
#contentMain {
        
}

#contentMain .caja {
    background-color: green;
    margin-top: 10px;
}

.clearFloat {
    float: none;
    clear: both;
}
#footerMain {
    padding: 10px;
}