/* Debemos utilizar las propiedades especificas de background
* background-image: Con este propiedad podemos colocar una imagen de fondo en algun contenedor
* background-repeat: Podemos repetir la imagen en toda la pagina
* background-attachment:
* background-size: Podemos definir el tamanio del fondo de mi imagen (%porcentaje)
*/

body {
    background-color: rgba(4, 5, 5, 0.795);
    background-image: url('/03Fondos/patterns/pattern1.png');
    background-repeat: repeat; /* repeat | no-repeat | repeat-x | repeat-y */
    background-attachment: fixed; /* scroll | fixed | inherit */
}

#containerTitle {
    border: 3px solid rgb(73, 148, 54);
    color: white;
    text-align: center;
}

#containerImage {
    background-image: url('/03Fondos/patterns/venomFondo.jpeg');
    background-repeat: no-repeat;
    background-size: 100%; /* Cover */
    width: 300px;
    height: 150px;
}

p {
    color: white;
    text-align: justify;
    line-height: 20px; /* Podemos definir la separacion entre lineas */
    text-transform: lowercase; /* Transforma el texto*/
    text-decoration: none;
    text-indent: 10px; /* Por cada parrafo que tengamos le hace una identacion de 10px */
    word-spacing: 10px;/* Metemos 10px de espacio entre palabras */
    letter-spacing: 5px; /* podemos meterle 5px de espacio entre letras */
}
